<configuration>
  <connetionStrings>
    <add name="conn1" connectionString="1528" providerName="abc"/>
    <add name="conntest" connectionString="9988" providerName="sqlService"/>
  </connetionStrings>
  <appSettings>
    <add key="Config:name" value="chq"/>
    <add key="Config:age" value="29"/>
    <add key="Config:proxy.address" value="shanghai"/>
    <add key="Config:proxy:port" value ="123"/>
    <add key="Config:proxy:address" value ="456"/>
    <add key="Config:proxy:ids:0" value ="789"/>
    <add key="Config:proxy:ids:1" value ="987"/>
  </appSettings>
</configuration>